@import './variables.css';

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  font-weight: 600;
  line-height: 1.6;
  color: var(--primary-color); /* Light text for dark background */
  background-color: #000; /* Dark fallback before image loads */
  overflow: hidden; /* Prevent scrolling on the body */
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Section styling */
section {
  padding: 80px 0;
  min-height: 65vh;
}

section h1 {
  text-align: center;
  font-size: var(--font-size-6xl);
  font-weight: 700;
}

section h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: var(--font-size-4xl);
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}